[submodule "UMDGeneral"]
	path = UMDGeneral
	url = https://github.com/vergaraunited/UMDGeneral.git
[submodule "MobileDeliveryClient"]
	path = MobileDeliveryClient
	url = https://github.com/vergaraunited/MobileDeliveryClient.git
[submodule "MobileDeliveryLogger"]
	path = MobileDeliveryLogger
	url = https://github.com/vergaraunited/MobileDeliveryLogger.git
[submodule "MobileDeliverySettings"]
	path = MobileDeliverySettings
	url = https://github.com/vergaraunited/MobileDeliverySettings.git
